CREATE DATABASE [BD_CONTRATOS_[FQL]]]
GO
USE [BD_CONTRATOS_[FQL]]]
GO
/****** Object:  Table [dbo].[CONTRATO]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRATO](
	[CODIGO_CONTRATO] [char](10) NOT NULL,
	[CODIGO_PROVEEDOR] [int] NULL,
	[CODIGO_REPRESENTANTE_LEGAL] [int] NULL,
	[CODIGO_ARRENDAMIENTO] [int] NULL,
	[FECHA_CONTRATO] [date] NULL,
 CONSTRAINT [PK_CONTRATO] PRIMARY KEY CLUSTERED 
(
	[CODIGO_CONTRATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARRENDAMIENTO]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARRENDAMIENTO](
	[CODIGO_ARRENDAMIENTO] [int] NOT NULL,
	[DIRECCION1] [varchar](500) NULL,
	[CIUDAD] [varchar](30) NULL,
	[SUPERFICIE] [int] NULL,
	[NUMERODIRECCION] [varchar](10) NULL,
	[IMPORTE] [decimal](15, 2) NULL,
	[LITERAL] [varchar](200) NULL,
	[FECHAFINALARRENDAMIENTO] [date] NULL,
	[CUENTA] [varchar](20) NULL,
	[NUMEROMESES] [int] NULL,
	[FECHAINICIALARRENDAMIENTO] [date] NULL,
	[FECHAFINALARRENDAMIENTO1] [date] NULL,
	[FECHATENOR] [date] NULL,
	[MES] [varchar](30) NULL,
	[ANIO] [varchar](4) NULL,
 CONSTRAINT [PK_ARRENDAMIENTO] PRIMARY KEY CLUSTERED 
(
	[CODIGO_ARRENDAMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[CODIGO_PROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[PATERNO_PROVEEDOR] [varchar](30) NULL,
	[MATERNO_PROVEEDOR] [varchar](30) NULL,
	[NOMBRES_PROVEEDOR] [varchar](30) NULL,
	[DOCUMENTO_PROVEEDOR] [varchar](20) NULL,
	[DOMICILIO_PROVEEDOR] [varchar](500) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_Contrato]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Contrato]
AS
SELECT        dbo.CONTRATO.CODIGO_CONTRATO, dbo.REPRESENTANTE_LEGAL.NOMBRES, dbo.REPRESENTANTE_LEGAL.PATERNO, dbo.REPRESENTANTE_LEGAL.MATERNO, dbo.REPRESENTANTE_LEGAL.TESTIMONIO, 
                         dbo.REPRESENTANTE_LEGAL.FECHAINICIAL, dbo.REPRESENTANTE_LEGAL.FECHAFINAL, dbo.REPRESENTANTE_LEGAL.TESTIMONIO AS Expr1, dbo.REPRESENTANTE_LEGAL.FECHATESTIMONIO, 
                         dbo.REPRESENTANTE_LEGAL.NUMERONOTARIA, dbo.PROVEEDOR.NOMBRES_PROVEEDOR, dbo.PROVEEDOR.PATERNO_PROVEEDOR, dbo.PROVEEDOR.MATERNO_PROVEEDOR, 
                         dbo.PROVEEDOR.DOCUMENTO_PROVEEDOR, dbo.PROVEEDOR.DOMICILIO_PROVEEDOR, dbo.ARRENDAMIENTO.DIRECCION1, dbo.ARRENDAMIENTO.CIUDAD, dbo.ARRENDAMIENTO.SUPERFICIE, 
                         dbo.ARRENDAMIENTO.NUMERODIRECCION, dbo.ARRENDAMIENTO.SUPERFICIE AS Expr2, dbo.ARRENDAMIENTO.IMPORTE, dbo.ARRENDAMIENTO.LITERAL, dbo.ARRENDAMIENTO.FECHAFINALARRENDAMIENTO, 
                         dbo.ARRENDAMIENTO.CUENTA, dbo.ARRENDAMIENTO.NUMEROMESES, dbo.ARRENDAMIENTO.FECHAINICIALARRENDAMIENTO, dbo.ARRENDAMIENTO.FECHAFINALARRENDAMIENTO1, dbo.ARRENDAMIENTO.FECHATENOR, 
                         dbo.ARRENDAMIENTO.MES, dbo.ARRENDAMIENTO.ANIO
FROM            dbo.ARRENDAMIENTO INNER JOIN
                         dbo.CONTRATO ON dbo.ARRENDAMIENTO.CODIGO_ARRENDAMIENTO = dbo.CONTRATO.CODIGO_ARRENDAMIENTO INNER JOIN
                         dbo.PROVEEDOR ON dbo.CONTRATO.CODIGO_PROVEEDOR = dbo.PROVEEDOR.CODIGO_PROVEEDOR INNER JOIN
                         dbo.REPRESENTANTE_LEGAL ON dbo.CONTRATO.CODIGO_REPRESENTANTE_LEGAL = dbo.REPRESENTANTE_LEGAL.CODIGO_REPRESENTANTE_LEGAL
GO
/****** Object:  Table [dbo].[REPRESENTANTELEGAL]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPRESENTANTELEGAL](
	[CODIGO_REPRESENTANTE_LEGAL] [int] IDENTITY(1,1) NOT NULL,
	[PATERNO] [varchar](30) NULL,
	[MATERNO] [varchar](30) NOT NULL,
	[NOMBRES] [varchar](30) NULL,
	[TESTIMONIO] [varchar](50) NULL,
	[FECHAINICIAL] [date] NULL,
	[FECHAFINAL] [date] NULL,
	[FECHATESTIMONIO] [date] NOT NULL,
	[NUMERONOTARIA] [int] NOT NULL,
 CONSTRAINT [PK_REPRESENTANTE_LEGAL] PRIMARY KEY CLUSTERED 
(
	[CODIGO_REPRESENTANTE_LEGAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[CODIGO_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[PASS] [varchar](30) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[CODIGO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ARRENDAMIENTO] ([CODIGO_ARRENDAMIENTO], [DIRECCION1], [CIUDAD], [SUPERFICIE], [NUMERODIRECCION], [IMPORTE], [LITERAL], [FECHAFINALARRENDAMIENTO], [CUENTA], [NUMEROMESES], [FECHAINICIALARRENDAMIENTO], [FECHAFINALARRENDAMIENTO1], [FECHATENOR], [MES], [ANIO]) VALUES (1, N'av23', N'La Paz', 152, N'1523', CAST(15.00 AS Decimal(15, 2)), N'quince', CAST(N'2022-01-11' AS Date), N'123456789', 6, CAST(N'2021-01-11' AS Date), CAST(N'2022-11-11' AS Date), CAST(N'2022-10-31' AS Date), N'Octubre', N'2022')
INSERT [dbo].[ARRENDAMIENTO] ([CODIGO_ARRENDAMIENTO], [DIRECCION1], [CIUDAD], [SUPERFICIE], [NUMERODIRECCION], [IMPORTE], [LITERAL], [FECHAFINALARRENDAMIENTO], [CUENTA], [NUMEROMESES], [FECHAINICIALARRENDAMIENTO], [FECHAFINALARRENDAMIENTO1], [FECHATENOR], [MES], [ANIO]) VALUES (2, N'AC25', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[CONTRATO] ([CODIGO_CONTRATO], [CODIGO_PROVEEDOR], [CODIGO_REPRESENTANTE_LEGAL], [CODIGO_ARRENDAMIENTO], [FECHA_CONTRATO]) VALUES (N'1         ', 1, 1, 1, CAST(N'2022-09-05' AS Date))
GO
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([CODIGO_PROVEEDOR], [PATERNO_PROVEEDOR], [MATERNO_PROVEEDOR], [NOMBRES_PROVEEDOR], [DOCUMENTO_PROVEEDOR], [DOMICILIO_PROVEEDOR]) VALUES (1, N'VELASCO', N'SORIA', N'RAMIRO', N'98756324', N'AVENIDA123')
INSERT [dbo].[PROVEEDOR] ([CODIGO_PROVEEDOR], [PATERNO_PROVEEDOR], [MATERNO_PROVEEDOR], [NOMBRES_PROVEEDOR], [DOCUMENTO_PROVEEDOR], [DOMICILIO_PROVEEDOR]) VALUES (2, N'LLO', N'LLA', N'LLAAL', N'5555', N'ASAS')
INSERT [dbo].[PROVEEDOR] ([CODIGO_PROVEEDOR], [PATERNO_PROVEEDOR], [MATERNO_PROVEEDOR], [NOMBRES_PROVEEDOR], [DOCUMENTO_PROVEEDOR], [DOMICILIO_PROVEEDOR]) VALUES (3, N'LLLA', N'OLA', N'LILA', N'785', N'ASSA')
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
GO
SET IDENTITY_INSERT [dbo].[REPRESENTANTELEGAL] ON 

INSERT [dbo].[REPRESENTANTELEGAL] ([CODIGO_REPRESENTANTE_LEGAL], [PATERNO], [MATERNO], [NOMBRES], [TESTIMONIO], [FECHAINICIAL], [FECHAFINAL], [FECHATESTIMONIO], [NUMERONOTARIA]) VALUES (1, N'Perez', N'Poma', N'Luis', N'1', CAST(N'2021-10-05' AS Date), CAST(N'2022-01-05' AS Date), CAST(N'2021-10-05' AS Date), 15)
INSERT [dbo].[REPRESENTANTELEGAL] ([CODIGO_REPRESENTANTE_LEGAL], [PATERNO], [MATERNO], [NOMBRES], [TESTIMONIO], [FECHAINICIAL], [FECHAFINAL], [FECHATESTIMONIO], [NUMERONOTARIA]) VALUES (2, N'S', N'SS', N'SDS', N'2', CAST(N'2023-01-05' AS Date), CAST(N'2022-02-03' AS Date), CAST(N'2021-01-08' AS Date), 15)
SET IDENTITY_INSERT [dbo].[REPRESENTANTELEGAL] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([CODIGO_USUARIO], [NOMBRE], [PASS]) VALUES (1, N'USUARIO', N'PASSWORD')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[ARRENDAMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_ARRENDAMIENTO_ARRENDAMIENTO] FOREIGN KEY([CODIGO_ARRENDAMIENTO])
REFERENCES [dbo].[ARRENDAMIENTO] ([CODIGO_ARRENDAMIENTO])
GO
ALTER TABLE [dbo].[ARRENDAMIENTO] CHECK CONSTRAINT [FK_ARRENDAMIENTO_ARRENDAMIENTO]
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRATO_ARRENDAMIENTO] FOREIGN KEY([CODIGO_ARRENDAMIENTO])
REFERENCES [dbo].[ARRENDAMIENTO] ([CODIGO_ARRENDAMIENTO])
GO
ALTER TABLE [dbo].[CONTRATO] CHECK CONSTRAINT [FK_CONTRATO_ARRENDAMIENTO]
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRATO_PROVEEDOR] FOREIGN KEY([CODIGO_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([CODIGO_PROVEEDOR])
GO
ALTER TABLE [dbo].[CONTRATO] CHECK CONSTRAINT [FK_CONTRATO_PROVEEDOR]
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRATO_REPRESENTANTE_LEGAL] FOREIGN KEY([CODIGO_REPRESENTANTE_LEGAL])
REFERENCES [dbo].[REPRESENTANTELEGAL] ([CODIGO_REPRESENTANTE_LEGAL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CONTRATO] CHECK CONSTRAINT [FK_CONTRATO_REPRESENTANTE_LEGAL]
GO
/****** Object:  StoredProcedure [dbo].[CONTRATOREPORTE]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CONTRATOREPORTE]
AS
BEGIN

		SELECT        CONTRATO.CODIGO_CONTRATO, REPRESENTANTE_LEGAL.NOMBRES, REPRESENTANTE_LEGAL.PATERNO, REPRESENTANTE_LEGAL.MATERNO, REPRESENTANTE_LEGAL.TESTIMONIO, 
                         REPRESENTANTE_LEGAL.FECHAINICIAL, REPRESENTANTE_LEGAL.FECHAFINAL,REPRESENTANTE_LEGAL.TESTIMONIO,  REPRESENTANTE_LEGAL.FECHATESTIMONIO, REPRESENTANTE_LEGAL.NUMERONOTARIA, 
                         PROVEEDOR.NOMBRES_PROVEEDOR, PROVEEDOR.PATERNO_PROVEEDOR, PROVEEDOR.MATERNO_PROVEEDOR, PROVEEDOR.DOCUMENTO_PROVEEDOR, PROVEEDOR.DOMICILIO_PROVEEDOR, 
                         ARRENDAMIENTO.DIRECCION1, ARRENDAMIENTO.CIUDAD, ARRENDAMIENTO.SUPERFICIE, ARRENDAMIENTO.NUMERODIRECCION, ARRENDAMIENTO.SUPERFICIE, ARRENDAMIENTO.IMPORTE, ARRENDAMIENTO.LITERAL, 
                         ARRENDAMIENTO.FECHAFINALARRENDAMIENTO, ARRENDAMIENTO.CUENTA, ARRENDAMIENTO.NUMEROMESES, ARRENDAMIENTO.FECHAINICIALARRENDAMIENTO, 
                         ARRENDAMIENTO.FECHAFINALARRENDAMIENTO1, ARRENDAMIENTO.FECHATENOR, ARRENDAMIENTO.MES, ARRENDAMIENTO.ANIO
FROM            ARRENDAMIENTO INNER JOIN
                         CONTRATO ON ARRENDAMIENTO.CODIGO_ARRENDAMIENTO = CONTRATO.CODIGO_ARRENDAMIENTO INNER JOIN
                         PROVEEDOR ON CONTRATO.CODIGO_PROVEEDOR = PROVEEDOR.CODIGO_PROVEEDOR INNER JOIN
                         REPRESENTANTE_LEGAL ON CONTRATO.CODIGO_REPRESENTANTE_LEGAL = REPRESENTANTE_LEGAL.CODIGO_REPRESENTANTE_LEGAL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_ARRENDAMIENTO]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_ARRENDAMIENTO] 
	-- Add the parameters for the stored procedure here
@DIRECCION1 VARCHAR(500)
	,@CIUDAD VARCHAR(30)
	,@SUPERFICIE INT
	,@NUMERODIR VARCHAR(10)
	,@IMPORTE DECIMAL(15,2)
	,@LITERAL VARCHAR(200)
	,@FECHAFINAL DATE
	,@CUENTA VARCHAR(20)
	,@NUMEROMESES INT
	,@FECHAINICIALARREN DATE
	,@FECHAFINARREN DATE
	,@FECHATENOR DATE
	,@MES VARCHAR(30)
	,@ANIO VARCHAR(4)
	,@CODIGO INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE ARRENDAMIENTO
	SET DIRECCION1= @DIRECCION1,
	CIUDAD= @CIUDAD,
	SUPERFICIE = @SUPERFICIE,
	NUMERODIRECCION = @NUMERODIR,
	IMPORTE = @IMPORTE,
	LITERAL = @LITERAL,
	FECHAFINALARRENDAMIENTO=@FECHAFINAL,
	CUENTA =@CUENTA,
	NUMEROMESES =@NUMEROMESES,
	FECHAINICIALARRENDAMIENTO =@FECHAINICIALARREN,
	FECHAFINALARRENDAMIENTO1=@FECHAFINARREN,
	FECHATENOR = @FECHATENOR,
	MES = @MES,
	ANIO =@ANIO
	WHERE CODIGO_ARRENDAMIENTO = @CODIGO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_PROVEEDOR]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_PROVEEDOR]
	-- Add the parameters for the stored procedure here
	@PATERNO varchar(30)
,@MATERNO varchar(30)
,@NOMBRE varchar(30)
,@DOCUMENTO VARCHAR(20)
,@DOMICILIO VARCHAR (500)
,@CODIGO INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE PROVEEDOR 
	SET 
	PATERNO_PROVEEDOR = @PATERNO,
	MATERNO_PROVEEDOR= @MATERNO,
	NOMBRES_PROVEEDOR=@NOMBRE,
	DOCUMENTO_PROVEEDOR=@DOCUMENTO,
	DOMICILIO_PROVEEDOR=@DOMICILIO
	WHERE CODIGO_PROVEEDOR=@CODIGO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_REPRESENTANTE]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_REPRESENTANTE]
	-- Add the parameters for the stored procedure here
	@PATERNO VARCHAR(30)
	,@MATERNO VARCHAR(30)
	,@NOMBRES VARCHAR(30)
	,@TESTIMONIO VARCHAR(50)
	,@FECHAINICIAL DATE
	,@FECHAFINAL DATE
	,@FECHATESTIMONIO DATE
	,@NUMERONOTARIA INT
	,@CODIGO INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE REPRESENTANTELEGAL
	SET 
	PATERNO=@PATERNO,
	MATERNO=@MATERNO,
	NOMBRES=@NOMBRES,
	TESTIMONIO=@TESTIMONIO,
	FECHAINICIAL=@FECHAINICIAL,
	FECHAFINAL = FECHAFINAL,
	FECHATESTIMONIO =@FECHATESTIMONIO,
	NUMERONOTARIA = @NUMERONOTARIA
	WHERE CODIGO_REPRESENTANTE_LEGAL = @CODIGO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ARRENDAMIENTO]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ARRENDAMIENTO]
as
begin

select DIRECCION1, CIUDAD, SUPERFICIE,NUMERODIRECCION,SUPERFICIE,IMPORTE,LITERAL,FECHAFINALARRENDAMIENTO,CUENTA,NUMEROMESES, FECHAINICIALARRENDAMIENTO,FECHAFINALARRENDAMIENTO1 from ARRENDAMIENTO
end


GO
/****** Object:  StoredProcedure [dbo].[SP_CONTRATO]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CONTRATO]
@FechaInicio datetime,
	@FechaFin datetime
as
begin

SELECT        CONTRATO.CODIGO_CONTRATO, REPRESENTANTE_LEGAL.NOMBRES, REPRESENTANTE_LEGAL.PATERNO, REPRESENTANTE_LEGAL.MATERNO, REPRESENTANTE_LEGAL.TESTIMONIO, 
                         REPRESENTANTE_LEGAL.FECHAINICIAL, REPRESENTANTE_LEGAL.FECHAFINAL,REPRESENTANTE_LEGAL.TESTIMONIO,  REPRESENTANTE_LEGAL.FECHATESTIMONIO, REPRESENTANTE_LEGAL.NUMERONOTARIA, 
                         PROVEEDOR.NOMBRES_PROVEEDOR, PROVEEDOR.PATERNO_PROVEEDOR, PROVEEDOR.MATERNO_PROVEEDOR, PROVEEDOR.DOCUMENTO_PROVEEDOR, PROVEEDOR.DOMICILIO_PROVEEDOR, 
                         ARRENDAMIENTO.DIRECCION1, ARRENDAMIENTO.CIUDAD, ARRENDAMIENTO.SUPERFICIE, ARRENDAMIENTO.NUMERODIRECCION, ARRENDAMIENTO.SUPERFICIE, ARRENDAMIENTO.IMPORTE, ARRENDAMIENTO.LITERAL, 
                         ARRENDAMIENTO.FECHAFINALARRENDAMIENTO, ARRENDAMIENTO.CUENTA, ARRENDAMIENTO.NUMEROMESES, ARRENDAMIENTO.FECHAINICIALARRENDAMIENTO, 
                         ARRENDAMIENTO.FECHAFINALARRENDAMIENTO1, ARRENDAMIENTO.FECHATENOR, ARRENDAMIENTO.MES, ARRENDAMIENTO.ANIO
FROM            ARRENDAMIENTO INNER JOIN
                         CONTRATO ON ARRENDAMIENTO.CODIGO_ARRENDAMIENTO = CONTRATO.CODIGO_ARRENDAMIENTO INNER JOIN
                         PROVEEDOR ON CONTRATO.CODIGO_PROVEEDOR = PROVEEDOR.CODIGO_PROVEEDOR INNER JOIN
                         REPRESENTANTE_LEGAL ON CONTRATO.CODIGO_REPRESENTANTE_LEGAL = REPRESENTANTE_LEGAL.CODIGO_REPRESENTANTE_LEGAL
						 WHERE
		FECHAINICIAL BETWEEN @FechaInicio AND @FechaFin
end


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_ARRENDAMIENTO]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERTAR_ARRENDAMIENTO]
	-- Add the parameters for the stored procedure here
	@DIRECCION1 VARCHAR(500)
	,@CIUDAD VARCHAR(30)
	,@SUPERFICIE INT
	,@NUMERODIR VARCHAR(10)
	,@IMPORTE DECIMAL(15,2)
	,@LITERAL VARCHAR(200)
	,@FECHAFINAL DATE
	,@CUENTA VARCHAR(20)
	,@NUMEROMESES INT
	,@FECHAINICIALARREN DATE
	,@FECHAFINARREN DATE
	,@FECHATENOR DATE
	,@MES VARCHAR(30)
	,@ANIO VARCHAR(4)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO ARRENDAMIENTO 
	(DIRECCION1,CIUDAD,SUPERFICIE,NUMERODIRECCION,IMPORTE,LITERAL,FECHAFINALARRENDAMIENTO,CUENTA,NUMEROMESES,FECHAINICIALARRENDAMIENTO,FECHAFINALARRENDAMIENTO1,FECHATENOR,MES,ANIO)
	VALUES(@DIRECCION1,@CIUDAD,@SUPERFICIE,@NUMERODIR,@IMPORTE,@LITERAL,@FECHAFINAL,@CUENTA,@NUMEROMESES,@FECHAINICIALARREN,@FECHAFINARREN,@FECHATENOR,@MES,@ANIO)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_PROVEEDOR]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERTAR_PROVEEDOR] 
@PATERNO varchar(30)
,@MATERNO varchar(30)
,@NOMBRE varchar(30)
,@DOCUMENTO VARCHAR(20)
,@DOMICILIO VARCHAR (500)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO [dbo].PROVEEDOR (PATERNO_PROVEEDOR,MATERNO_PROVEEDOR,NOMBRES_PROVEEDOR,DOCUMENTO_PROVEEDOR,DOMICILIO_PROVEEDOR)
	VALUES(@PATERNO,@MATERNO,@NOMBRE,@DOCUMENTO,@DOMICILIO)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_REPRESENTANTE]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERTAR_REPRESENTANTE]
	-- Add the parameters for the stored procedure here
	@PATERNO VARCHAR(30),
	@MATERNO VARCHAR(30),
	@NOMBRES VARCHAR(30),
	@TESTIMONIO VARCHAR(50),
	@FECHAINICIAL DATE,
	@FECHAFINAL DATE,
	@FECHATESTIMONIO DATE,
	@NUMERONOTARIA INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO REPRESENTANTELEGAL 
	(PATERNO,MATERNO,NOMBRES,TESTIMONIO,FECHAINICIAL,FECHAFINAL,FECHATESTIMONIO,NUMERONOTARIA)
	VALUES (@PATERNO,@MATERNO,@NOMBRES,@TESTIMONIO,@FECHAINICIAL,@FECHAFINAL,@FECHATESTIMONIO,@NUMERONOTARIA)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LOGIN]
(
@USUARIO			VARCHAR(30),
@PASSWORD		VARCHAR(30),
@RESULTADO 		NUMERIC OUTPUT
)
AS

SELECT @RESULTADO =	
		ISNULL((SELECT COUNT(1) 
				FROM  USUARIO
				WHERE	NOMBRE = @USUARIO AND
						PASS = @PASSWORD) ,0)	
GO
/****** Object:  StoredProcedure [dbo].[SP_PROVEEDOR]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_PROVEEDOR]
as
begin

select NOMBRES_PROVEEDOR, PATERNO_PROVEEDOR,MATERNO_PROVEEDOR, DOCUMENTO_PROVEEDOR,DOMICILIO_PROVEEDOR from PROVEEDOR
end


GO
/****** Object:  StoredProcedure [dbo].[SP_REPRESENTANTELEGAL]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_REPRESENTANTELEGAL]
as
begin

select NOMBRES,PATERNO,MATERNO,TESTIMONIO,FECHAINICIAL, FECHAFINAL, FECHATESTIMONIO,NUMERONOTARIA from REPRESENTANTELEGAL
end


GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIO]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_USUARIO] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
Select NOMBRE, PASS from USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VALIDAR_USUARIO]    Script Date: 23/02/2023 22:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VALIDAR_USUARIO]
(
@USUARIO			VARCHAR(30),
@RESULTADO 		NUMERIC OUTPUT
)
AS

SELECT @RESULTADO =	
		ISNULL((SELECT COUNT(1) 
				FROM  USUARIO
				WHERE	NOMBRE = @USUARIO) ,0)															
RETURN @@TOTAL_ERRORS
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ARRENDAMIENTO"
            Begin Extent = 
               Top = 38
               Left = 70
               Bottom = 168
               Right = 333
            End
            DisplayFlags = 280
            TopColumn = 11
         End
         Begin Table = "CONTRATO"
            Begin Extent = 
               Top = 46
               Left = 369
               Bottom = 176
               Right = 636
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "PROVEEDOR"
            Begin Extent = 
               Top = 0
               Left = 676
               Bottom = 130
               Right = 910
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "REPRESENTANTE_LEGAL"
            Begin Extent = 
               Top = 137
               Left = 665
               Bottom = 267
               Right = 932
            End
            DisplayFlags = 280
            TopColumn = 5
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vista_Contrato'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vista_Contrato'
GO
